__pycache__/
*.pyc
*.pyo
*.pyd

*.sqlite3
*.log
*.pot
*.py[cod]

todoenv/
env/
.venv/

.env
.env.*

**/migrations/__pycache__/
**/migrations/*.pyc

build/
dist/
*.egg-info/

staticfiles/
media/

.git/
.gitignore
.vscode/
*.swp
*.swo
.DS_Store
